body{
background-color:green;
width:960px;
margin-left:auto;
margin-right:auto;
}

h1{
	color:blue;
	front-size:18px;
	padding: 1px;
	margin: 10px
}

p{
	color:purple; 
	fornt-size:12px;
}
#para1{
	color:pink;
	front-size:9px;
	margin-top:20px;
	magin-bottm:18px;
}
